*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Allerta', sans-serif;
}

h1{
	background: #333;
	color: #fff;
	font-size: 3em;	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: .4em 0em;
	margin-bottom: 1em;
}

h2{
	color: #fff;
	background: #333;
	padding: .3em .3em;
}

.contenedor{
	width: 100%;
	display: flex;
	justify-content: center;
}

.imagen-original{
	width: 500px;
	height: 400px;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.imagenes{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 960px;	
}

.imagen{
	width: 45%;
	margin-bottom: 1.5em;
}

img{
	width: 100%;
	margin-bottom: 10px;
}

img.blur{
	filter: blur(3px);
}

img.brightness{
	filter: brightness(20%);
}

img.contrast{
	filter: contrast(30%);
}

img.drop-shadow{
	filter: drop-shadow(5px 5px 15px #555);
}

img.grayscale{
	filter: grayscale(80%);
}

img.hue-rotate{
	filter: hue-rotate(70deg);
}

img.invert{
	filter: invert(80%);
}

img.opacity{
	filter: opacity(30%);
}

img.saturate{
	filter: saturate(30%);
}

img.sepia{
	filter: sepia(90%);
}